
.mobile-block{
    display:none;
  }
  .content-header .content-title{
    margin-bottom :1rem;
  }
  .nav{
    
background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
  }
  .tab{
   background-color: rgb(255, 225, 90); 
  }
  .tab2{
    background-color: rgb(255, 255, 255); 
    padding: 2px;
    width: 120px;
    height: 40px;
    align-items: center;
   }

   .tab2:hover{
    background: rgb(238,174,202);
    color:white;
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(156,148,233,1) 100%);
   }
   .tab2:visited{
    border-color: #141432;
    border-width: 5px;
   }
  .main-wrap{
    margin-left: 0 !important;
  }
  .content-header{
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 1rem;
  }
  
  .card-header input.form-control{
    margin-bottom:1rem;
   
  }
  
  .main-header .col-nav{
    order: 1;
    width:100%;
    margin-bottom: 0.8rem;
    margin-left:auto;
  
  }
  
    
  
  .main-header .col-search{
    flex-grow: 1;
    width: 100%;
    order: 2;
  }
  .mobile-offcanvas.show{
    visibility: visible;
    transform: translateX(0);
    width:80%;
    overflow-y: scroll;
    overflow-x: hidden;
    transition: visibility 0.2s ease-in-out, transform 0.2s ease-in-out;
  }
  .mobile-offcanvas{
    visibility: hidden;
    transform: translateX(-100%);
    border-radius: 0;
    display: block;
    position:fixed;
    top:0;
    left:0;
    height: 100%;
    z-index: 1200;
    width:80%;
    overflow-y: scroll;
    overflow-x: hidden;
    transition: visibility 0.2s ease-in-out, transform 0.2 ease-in-out;
  }
  .navbar-aside.show{
    visibility: visible;
    transform: translateX(0);
  
  }
  .navbar-aside .aside-top{
    padding:1rem 0.5rem;
    display:flex;
    align-items:center;
    justify-content:space-between;
  }
  .navbar-aside .aside-top .logo{
    height: 46px;
    width:auto;
    max-width: 200px;
  }
  .navbar-aside .aside-top .logo{
    height: 40px;
  }
  .navbar-aside{
    z-index:900;
    transform: translateX(-100);
    overflow-x:hidden;
    transition: visibility 0.2s ease-in-out, transform 0.2s ease-in-out;
  }
  .menu-aside .menu-link{
    padding:10px;
    color :#29335d;
    font-weight: bold;
    border-radius:0.3rem;
    position:relative;
  }
  
  a.disabled{
  pointer-events:none;
  }
  .btn-primary{
  background-color: burlywood !important;
  border: 2px solid black !important;
  }
  .Header-green{
  background-color: darkslategrey;
  
  }
  .icon-xs{
  display:inline-flex;
  align-items:center;
  justify-content: center;
  text-align: center;
  flex-shrink: 0;
  flex-grow: 0;
  width: 32px;
  height: 32px;
  line-height: 32px !important;
  font-size: 16px;
  }
  .img.xs{
  width: 60px;
  height: 40px;
  }
  
  .navbar-aside .aside-top .brand-wrap{
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  display: inline-block;
  }
  .navbar-aside .aside-top .logo{
  height: 40px;
  }
  /* .nav-pills .nav-link{
  
  } */
  .content-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
  }
  .content-header{
  flex-direction:column;
  align-items: flex-start;
  margin-bottom: 1rem;
  }
  .main-wrap{
  margin-left: 0 !important;
  }
  .inner{
  padding: 1rem;
  }
  .body.aside-mini .main-wrap{
  margin-left:70px;
  }
  .body.aside-mini .navbar-aside{
  max-width: 70px;
  overflow: visible;
  position :absolute;
  min-height: 100%;
  }
  .body.aside-mini .menu-aside .menu-item.has-submenu .menu-link:after{
  display: none;
  }
  .body.aside-mini .main-wrap{
  margin-left:70px;
  }
  .body.aside-mini .navbar-aside{
  max-width: 70px;
  overflow: visible;
  position: absolute;
  min-height: 100%;
  }
  .menu-aside{
  list-style: none;
  margin:0.5rem;
  padding:0;
  }
  .menu-aside a{
  display:block;
  text-decoration: none;
  }
  .menu-aside .menu-item{
  margin-bottom: 5px;
  }
  .menu-aside .menu-item .icon{
  color: black;
  margin-left: 10px;
  font-size: 18px;
  }
  .menu-aside .menu-link .text{
  vertical-align:middle;
  }
  .menu-aside .menu-link:hover{
  transition: 0.2s linear;
  background-color: rgb(231, 214, 191);
  }
  .menu-aside .submenu{
  margin-left: 44px;
  display: none;
  }
  .menu-aside .submenu a{
  color: #6c757d;
  padding: 5px;
  }
  .menu-aside .submenu a:hover{
  color: black;
  }
  .main-header .col-nav{
  order:1;
  width: 100%;
  margin-bottom: 0.8rem;
  margin-left: auto;
  }
  .main-header .col-nav{
  order:1;
  width: 100%;
  order:2;
  }
  .main-header{
  padding-left: 3%;
  padding-right: 3%;
  min-height: 72px;
  background-color: burlywood;
  border-bottom: 1px solid rgb(108,117,125,0.25);
  }
  .main-header .nav-item > a{
  border-radius: 0.25rem;
  }
  
  .navbar-aside{
  max-width: 250px;
  display:block;
  position: fixed;
  top: 0;
  bottom: 0;
  width:100%;
  overflow-y:auto;
  background-color: white;
  box-shadow:0 0.1rem 0.25 rgb(0,0,0,0.75);
  z-index: 10;
  border-right: 1px solid rgb(108,117,125,0.25);
  }
  .menu-aside .submenu a:hover{
  color: black;
  }
  .menu-aside .menu-item.menu-item.has-submenu > .menu-link:after{
  display: inline-block;
  
  position: absolute;
  right: 10px;
  top:10px;
  margin-top: 0.6em;
  vertical-align: middle;
  content:"";
  border-top: 5px solid burlywood;
  border-right: 5px solid transparent;
  border-bottom: 0;
  border-left:5px solid transparent;
  
  }
  .btn-drag{
  padding: 5px 2px;
  display:inline-block;
  cursor: ns-resize !important;
  
  }
  .content-header .content-title{
  margin-bottom: 1rem;
  
  }
  .list-menu li{
  margin-bottom: 5px;
  }
  .list-menu a{
  color: #141432;
  }
  .list-menu a:hover{
  color: burlywood;
  }
  .list-check >li::before
  {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 12px;
  color: burlywood;
  position: absolute;
  top:2px;
  left:0;
  content:"?";
  }
  .list-normal{
  list-style:none;
  padding-left: 0;
  }
  .list-normal li{
  padding-left: 1em;
  margin-bottom: 7px; 
  }
  .menu-aside .menu-link .text{
  vertical-align:middle;
  }
  .menu-aside .menu-link:hover{
  transition: 0.2s linear;
  background-color: bisque;
  }
  .menu-aside .active {
  background-color: #ebf0fd;
  }
  .menu-aside .menu-link{
  padding:10px;
  color :#29335d;
  font-weight: bold;
  border-radius:0.3rem;
  position:relative;
  }
  
  
  
  
  